
.coffee{
    margin-left: 15px !important;
}

pre code {
    white-space: pre;
    overflow: auto;
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-inner {
    min-height: 24px !important;
    color: #fff !important;
    font-size: 1.0em !important;
    line-height: 24px !important;
    padding: 0px !important;
}

.nav-tabs.nav-stacked>li>a {border: 0px !important;}

.logo {
    margin-right: 15px;
}

body .frame .navbar .navbar-inner {
    border-radius: 0;
    padding-left: 5px;
}

body .frame .menu.collapse {
    float: left;
    width: 300px;
}

.menu{
   margin-bottom: 0px !important;
}
body .frame .menu .navbar .navbar-inner {
    text-align: center;
    font-size: 1.1em;
    line-height: 23px;
    border-right:0px;
}

body .frame .menu .nav-stacked {
    padding: 0px;
}
body .frame .menu .nav-stacked{
    margin: 0px !important;
}
body .frame .menu .nav-stacked li input{
    padding: 0px !important;
    margin: 0px !important;
}

body .frame .view {
    height: 100%;
    overflow: auto;
}

body .frame .view .navbar .navbar-inner .btn-navbar {
    display: block;
    float: left;
}

body .frame .view #content {
    text-align: justify;
}

code.well {
    padding: 1px !important;
}

a:hover, a:focus {
    text-decoration: none !important;
}


.suiteDesc{padding-left: 4px !important;}

.run-again{ margin-left: 4px !important;}
.navbar .btn, .navbar .btn-group {
    margin-top: 10px;
}

